.footer{
  padding: 120px 0;
  background: #0E1734;
  &__content{
    display: flex;
    justify-content: space-between;
    &-title{
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
    }
    &-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #D9DBDE;
      margin: 13px 0 36px;
    }
    &-icons{
      display: flex;
      column-gap: 40px;
    }
    &-right{
      display: flex;
      column-gap: 110px;
    }
  }
  &__list {
    &-item{
      margin-bottom: 24px;
    }
    &-link{
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #d9dbde;
    }
  }
}

@media (max-width: 712px) {
  .footer{
    &__content {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;
    }
  }
}

@media (max-width: 536px) {
  .footer{
    &__content{
      &-right {
        column-gap: 110px;
        flex-direction: column;
        row-gap: 30px;
      }
    }
  }
}