.header{
  padding: 46px 0 35px;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title{
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      color: #192252;
    }
  }
  &__list{
    display: flex;
    column-gap: 32px;
    &-link{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #192252;
    }
  }
  &__btn{
    background: #0E1734;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: .3s;
    &:hover{
      transition: .3s;
      background: #FFFFFF;
      color: #0E1734;
    }
  }
}

.burger{
  display: none;
}

@media (max-width: 1024px) {
  .header {
    &__content{
      &__btn {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
      }
      &__list {
        column-gap: 22px;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    padding: 20px 0 20px;
    &__btn {
      font-size: 15px;
      line-height: 9px;
      width: 120px;
      height: 45px;
    }
    &-title {
      font-size: 28px;
      line-height: 37px;
    }
    &__list {
      column-gap: 23px;
    }
  }
}

@media (max-width: 950px) {
  .header{
    .header__btn {
      font-size: 9px;
      line-height: 2px;
      width: 90px;
      height: 36px;
    }
    .header__list-link {
      font-size: 13px;
      line-height: 19px;
    }
  }
}


@media (max-width: 600px) {
  .header {
    padding: 13px 0 13px;
  }
}




@media (max-width: 480px) {
 .header{
   .header__list-link  {
     font-size: 20px;
     line-height: 20px;
   }
   &__list{
     display: none;
   }
   &__right{
     padding-right: 78px;
   }
   &__list.active{
     display: flex;
     position: fixed;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     row-gap: 40px;
     width: 50%;
     height: 50vh;
     top: 0;
     right: 0;
     background-color: white;
     z-index: 4;
   }
   .burger{
     display: block;
     width: 26px;
     height: 20px;
     position: fixed;
     right: 27px;
     top: 18px;
     z-index: 5;
     &__line{
       position: absolute;
       top: 50%;
       left: 0;
       transform: translateY(-50%);
       background-color: black;
       width: 100%;
       height: 2px;
       &::before, &::after{
         position: absolute;
         content: '';
         width: 100%;
         height: 2px;
         background-color: black;
         top: -9px;
         left: 0;
       }
       &::after{
         top: 9px;
       }
     }
   }
   .burger.active{
     .burger__line{
       background-color: transparent;
       &::before{
         top: 0;
         transform: rotate(-45deg);
       }
       &::after{
         top: 0;
         transform: rotate(45deg);
       }
     }
   }
    &__btn {
      font-size: 9px;
      line-height: 2px;
      width: 78px;
      height: 26px;
   }
 }
}



@media (max-width: 320px) {
 .header{
   &__content-title {
     font-weight: 600;
     font-size: 27px;
     line-height: 39px;
     color: #192252;
   }
   .header__btn {
     font-size: 7px;
     line-height: 2px;
     width: 69px;
     height: 24px;
   }
   .burger {
     display: block;
     width: 26px;
     height: 20px;
     position: fixed;
     right: 29px;
     top: 23px;
     z-index: 5;
   }
 }
}