.rooms{
  padding: 80px 0 80px;
  &__content{
    &-center{
      text-align: center;
      .text{
        margin: 24px 0 32px;
      }
    }
    &-btn{
      width: 165px;
      height: 51px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      transition: .3s;
      &:hover{
        transition: .3s;
        background: #FFFFFF;
        color: #0E1734;
      }
    }
    &-card{
      display: flex;
      column-gap: 24px;
      margin-top: 88px;
    }
    &-row{
      width: 50%;
    }
    &-img{
      width: 100%;
    }
    &-title{
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #000000;
      margin: 32px 0 16px;
    }
    &-text{
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #848FAC;
      margin-bottom: 32px;
    }
    &-link{
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #424F7B;
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
  }
}

@media (max-width: 1200px) {
  .rooms{
    &__content{
      .title {
        font-size: 36px;
      }
      .text{
        margin: 24px 0 32px;
      }
      .text {
        font-size: 22px;
      }
      &-btn {
        width: 165px;
        height: 51px;
        font-size: 16px;
      }
      &-text {
        font-size: 17px;
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .rooms{
    &__content{
      .title {
        font-size: 33px;
      }
      .text {
        font-size: 22px;
      }
      &-btn {
        width: 165px;
        height: 51px;
        font-size: 16px;
      }
      &-text {
        font-size: 16px;
        margin-bottom: 28px;
      }
    }
  }
}

@media (max-width: 992px) {
  .rooms{
    &__content{
      &-text {
        font-size: 15px;
        margin-bottom: 22px;
      }
      &-img {
        width: 95%;
      }
    }
  }
}

@media (max-width: 890px) {
  .rooms{
    &__content{
      &-card {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 660px) {
  .rooms{
    &__content{
      .text {
        font-size: 13px;
      }
      .title {
        font-size: 27px;
      }
    }
  }
}

@media (max-width: 570px) {
  .rooms{
    &__content{
      &-text {
        font-size: 12px;
        margin-bottom: 12px;
      }
      .rooms__content-title {
        font-size: 22px;
        margin: 15px 0 10px;
      }
    }
  }
}

@media (max-width: 458px) {
    .rooms{
      &__content{
        .text {
          font-size: 9px;
        }
        .title {
          font-size: 19px;
        }
        &-text {
          font-size: 10px;
          margin-bottom: 12px;
        }
      }
    }
}